#profileDiv{
    position: absolute;
    border-radius: 7px; 
    width: 8%;
    height: 5%;
    margin-left: 91%;
    margin-top: 1%;
    justify-content: center;
    display: flex;
    vertical-align: center;
    text-align: center;
    background-color: #3445b4;
    font-size: 15px;
    padding-top: 10px;
    color: white;
}

#profileDiv:hover{
    cursor: pointer;
}

#corrTable{
    text-align: center;
    font-size: 18px;
}

#pfCorrTable{
  text-align: center;
  font-size: 15px;
}

#savedPfMenuDiv > div {
    width: 330px !important;
}

#setPeriodDiv > div {
  width: 70px !important;
}

#assetCorrelationDiv{
  display: flex;
  vertical-align: middle;
  text-align: center;
}

#assetCorrelationDiv > p{
  margin-top: auto;
  margin-bottom: auto;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #3445b4;
}
.dropdown-menu > li > a.active {
  background-color: #3445b4;
}

.bootstrap-select>.dropdown-toggle:after {
  color: #3445b4;
  margin-right: 5px;
}
